<h1>Pour qui faut-il voter ?</h1>

<p class="best-list">
  <%= image_tag "list#{@best_list}.jpg", alt: Item::LIST_NAMES[@best_list] %>
  Il faut voter <strong><%= Item::LIST_NAMES[@best_list] %></strong>
</p>

<p>
Bedfathers: <%= Item.total_points 0 %><br />
Bedzacoatl: <%= Item.total_points 1 %>
</p>

<ul>
<% @items.each do |i| %>
  <li><%= i.list_name %> : <%= i.title %> (<%= i.points %>)</li>
<% end %>
</ul>