<header>
  <h1>Pour qui faut-il voter ?</h1>

  <p class="best-list">
    <%= image_tag "list#{@best_list}.jpg", alt: Item::LIST_NAMES[@best_list] %>
    Il faut voter <strong><%= Item::LIST_NAMES[@best_list] %></strong>
  </p>
</header>


<ul class="scores">
  <li>
    <%= image_tag "list0.jpg", alt: "The Bedfathers" %>
    The Bedfathers
    <strong><%= Item.total_points 0 %> <small>pts</small></strong>
  </li>
  <li>
    <%= image_tag "list1.jpg", alt: "Bedzacoatl" %>
    Bedzalcoatl
    <strong><%= Item.total_points 1 %> <small>pts</small></strong>
  </li>
</ul>


<ul class="items">
<% @items.each do |i| %>
  <li class="list<%= i.list %>">
    <strong class="<%= if i.points > 0 then 'pos' else 'neg' end %>">
      <%= image_tag "list#{i.list}.jpg", alt: Item::LIST_NAMES[@best_list] %>
      <%= i.points %> <small>pts</small>
    </strong>
    <%= i.title %>
  </li>
<% end %>
</ul>
